[submodule ".vim/plugged/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = ./.vim/plugged/coc.nvim/
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = ./.vim/plugged/nerdtree
[submodule ".vim/plugged/vim-devicons"]
	path = .vim/plugged/vim-devicons
	url = ./.vim/plugged/vim-devicons/
[submodule ".vim/plugged/markdown-preview.nvim"]
	path = .vim/plugged/markdown-preview.nvim
	url = ./.vim/plugged/markdown-preview.nvim/
[submodule ".vim/plugged/nerdtree-git-plugin"]
	path = .vim/plugged/nerdtree-git-plugin
	url = ./.vim/plugged/nerdtree-git-plugin/
[submodule ".vim/plugged/vim-nerdtree-syntax-highlight"]
	path = .vim/plugged/vim-nerdtree-syntax-highlight
	url = ./.vim/plugged/vim-nerdtree-syntax-highlight/
